<html>
<head>
  <style>
    {{{styles}}}
    body, h1, h2 {
      font-family: sans-serif !important;
    }
    .export-header > * + * > * {
      margin-left: 2em !important;
    }
  </style>
</head>
<body>
  <div role="main">
    <div class="content">
      <div id="export" aria-hidden="true">
      <div class="group-left group-top export-header">
        <div style="width: 40%">
          <div>
            <h1>My Checklist</h1>
            <p><em>Created on <strong>docready.org</strong></em></p>
          </div>
        </div>
        <div style="width: 60%">
          <div>
            <section>
              <h2>Appointment details</h2>
              <dl class="contenteditable">
                <dt>Doctor</dt>
                <dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="your doctor's name"> </dd>
                <dt>Surgery</dt>
                <dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="your surgery name">{{surgery.title}} </dd>
                <dt>Date</dt>
                <dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="the date of your appointment"> </dd>
                <dt>Time</dt>
                <dd contenteditable="true" role="textbox" aria-multiline="true" aria-label="time of your appointment"> </dd>
              </dl>
            </section>
          </div>
        </div>
      </div>
        <section>
          <h2>Things I want to talk about</h2>
          <div class="checklist-export">
            <ol>
              {{#each symptoms}}
              <li><i>{{math @index "+" 1}}</i> {{{this}}}</li>
              {{/each}}
            </ol>
          </div>
        </section>
        {{#if supplementary}}
        <section class="supplementary_questions">
          {{#each supplementary}}
            <div ng-repeat="s in supplementary">
              <h2>{{this.title}}</h2>
              <p><em>{{this.rubric}}</em></p>
              <div class="tall notes">{{this.answer}}</div>
            </div>
          {{/each}}
        </section>
        {{/if}}
        <section>
          <h2>My notes</h2>
          <p><em>A place to record notes of what you heard in your appointment.</em></p>
          <div class="tall" contenteditable="true" role="textbox" aria-multiline="true" aria-label="reflections on my checklist"></div>
        </section>
      </div>
    </div>
  </div>
</body>
</html>